<!-- If there are stories -->
<% if (stories && stories.length > 0) { %>
    <!-- Create table -->
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through Stories -->
            <% for (var i = 0; i < stories.length; i++) { %>
                <tr>
                    <td><a href="/stories/edit/<%= stories[i]._id %>"><%=stories[i].title%></a></td>
                    <td><%= locals.helpers.formatDate(stories[i].createdAt, 'MMMM Do YYYY, h:mm:ss a') %></td>
                    <!-- 'MMMM Do YYYY,h:mm:ss a' -->
                    <td><span class='dash-status'><%= stories[i].status %></span></td>
                    <td id="flexBtns">
                        <a href="/stories/edit/<%= stories[i]._id %>" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="/stories/<%= stories[i]._id %>" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
<!-- Otherwise let's print no stories -->
<% } else { %>
    <p>You have not created any stories</p>
<% } %>